spring:
  jpa.hibernate.ddl-auto: update
  datasource:
    url: jdbc:mysql://localhost:3306/reaktor_printersserver
    username: root
    password: ${DB_PASSWORD}
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 5
  servlet:
    multipart:
      max-request-size: -1
      max-file-size: -1
server:
  port: 8082
logging:
    level:
        root: INFO
    file:
        name: /tmp/reaktor_printersServer.log
        max-size: 1MB
        max-history: 10
        total-size-cap: 10MB

reaktor:
  publicKeyFile: ${PUBLIC_KEY_FILE}
  urlCors: https://somos.iesjandula.es
  printers_server_url: https://api.iesjandula.es/
  firebase_server_url: https://api.iesjandula.es/
  notifications_server_url: https://api.iesjandula.es/
  school_base_server_url: https://api.iesjandula.es/
  clientId: ${CLIENT_ID}
  http_connection_timeout: 30000
  constantes:
    impresionDeshabilitada: ""
    horaInicioImpresion: "7:45" 
    horaFinImpresion: "20:30"
    diaEspecialImpresion: "false"
    maximoHojasImpresion: "50"